/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/footer.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.footer_footer__woFMY {
    background-color: #c23636; 
    color: white;
}
.footer_rodape__zEx9K {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 5% 0px 5%;
}

.footer_rodape__zEx9K ul {
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
}

.footer_rodape__zEx9K ul li {
    display: inline;
}
.footer_rodape__zEx9K ul li a {
    text-decoration: none;
    padding: 10px 10px 5px 10px;
}
.footer_rodape__zEx9K ul li a:hover {
    border-bottom: 1px solid white;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/header.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.header_menu__4KqqH {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-inline: 10px;
}
.header_menu__4KqqH ul, .header_menu__4KqqH div, .header_menu2__Qx_6I {
    display: flex;
    align-items: center;
    justify-content: center !important;
}
.header_menu__4KqqH li {
    list-style-type: none;
    display: inline;
}
.header_menu__4KqqH ul li a { 
    font-weight: 600;
    padding: 10px 10px; 
    margin-left: 5px;
    display: inline-block; /* visual do link */ 
    color: #fff; 
    text-decoration: none; 
    border-bottom: 1px solid #ffffff00;
}
.header_menu__4KqqH ul li a:hover { 
    transition: 0.1s;
    border-bottom: 1px solid #fff;
}
.header_iconHeader__CS4op {
    padding: 5px 5px !important;
    margin-left: 5px !important;
    color: #6D6D6D;
    border-radius: 12px;
}
.header_iconHeader__CS4op:hover {
    background-color: gold !important;
    border-bottom: 0 !important;
}

.header_img__Mo7bY {
    position: relative;
    width: 100%;
    height: 600px;
}
  
.header_content__AbsK3 {
    text-shadow: #111 5px 0 10px;
    position: relative;
    padding: 10px;
    color: white;
}


/* #5a0000 --> Cor de texto eu caso queira trocar tudo o header */
