/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/header.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/

/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/components/main.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.main_main__dEWbj {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    background-color: #fff;

}
.main_card__FvLzZ {
    width: 300px;
    padding: 20px;
    font-weight: bold;
    text-align: center;
    padding-inline: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    align-items: center;
    background-color: rgb(191, 217, 240);
}

.main_img__6IlDa {
    display: flex;
    align-items: end;
    justify-content: space-between;
}


