.menu {
    background-color: #ce4343;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-inline: 10px;
}
.menu ul, .menu div, .menu2 {
    display: flex;
    align-items: center;
    justify-content: center !important;
}
.menu li {
    list-style-type: none;
    display: inline;
}
.menu ul li a { 
    transition: 1s;
    font-weight: 600;
    padding: 10px 10px; 
    margin-left: 5px;
    display: inline-block; /* visual do link */ 
    color: #fff; 
    text-decoration: none; 
    border-radius: 12px;
}
.menu ul li a:hover { 
    transition: 0.3s;
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-radius: 12px;
}
.iconHeader {
    padding: 5px 5px !important;
    margin-left: 5px !important;
}
.iconHeader:hover {
    background-color: gold !important;
}


/* #5a0000 --> Cor de texto eu caso queira trocar tudo o header */