.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-inline: 10px;
}
.menu ul, .menu div, .menu2 {
    display: flex;
    align-items: center;
    justify-content: center !important;
}
.menu li {
    list-style-type: none;
    display: inline;
}
.menu ul li a { 
    font-weight: 600;
    padding: 10px 10px; 
    margin-left: 5px;
    display: inline-block; /* visual do link */ 
    color: #fff; 
    text-decoration: none; 
    border-bottom: 1px solid #ffffff00;
}
.menu ul li a:hover { 
    transition: 0.1s;
    border-bottom: 1px solid #fff;
}
.iconHeader {
    padding: 5px 5px !important;
    margin-left: 5px !important;
    color: #6D6D6D;
    border-radius: 12px;
}
.iconHeader:hover {
    background-color: gold !important;
    border-bottom: 0 !important;
}

.img {
    position: relative;
    width: 100%;
    height: 600px;
}
  
.content {
    text-shadow: #111 5px 0 10px;
    position: relative;
    padding: 10px;
    color: white;
}


/* #5a0000 --> Cor de texto eu caso queira trocar tudo o header */