.menu {
    background-color: #ce4343;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-inline: 10px;
}
.menu ul, .menu div, .menu2 {
    display: flex;
    align-items: center;
    justify-content: center !important;
}
.menu li {
    list-style-type: none;
    display: inline;
}
.menu ul li a { 
    transition: 1s;
    font-weight: 600;
    padding: 10px 10px; 
    margin-left: 5px;
    display: inline-block; /* visual do link */ 
    color: #fff; 
    text-decoration: none; 
    border-radius: 12px;
}
.menu ul li a:hover { 
    transition: 0.3s;
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-radius: 12px;
}
.iconHeader {
    padding: 5px 5px !important;
    margin-left: 5px !important;
}
.iconHeader:hover {
    background-color: gold !important;
}

.menu2 {
    background-color: #c23636;
    padding: 5px;
    justify-content: end !important;
    color: white;  
}

.menu2 input {
    background-color: #fff;
    border: 0;
    padding: 10px;
    padding-left: 15px;
    margin-inline: 10px;
    border-radius: 15px;
    color: #6D6D6D;
}

.menu2 input:focus {
    outline: none;
}

.menu2 button {
    transition: 1s;
    background-color: transparent;
    border: 0;
    padding: 10px;   
    color: white;
    border-radius: 10px;
}

.menu2 button:hover {
    transition: 0.5s;
    cursor: pointer;
    background-color: #ddd5d5;
    color: #6D6D6D;
    border-radius: 10px;
}

/* #5a0000 --> Cor de texto eu caso queira trocar tudo o header */