.main {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 50px;   
}
.card {    
    width: 300px;
    text-align: center;
    padding-inline: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    background-image: linear-gradient(to bottom, #fff 40%, #DDDEEE 90%);
}

.card abbr {
    text-decoration: none;
}
.card abbr p span {
    color: red;
}

.img {
    margin: auto;
}

/* Estilos do menu suspenso de Descrição */
.dropdown {
    display: none;
}
.buttonDropdown:focus-within + .dropdown {
    display: block;        
}
.buttonDropdown {
    font-family: "Playfair Display", sans-serif;
    border: 0;
    background-color: #ce4343;
    color: white;
    padding: 3px 0px;
    font-size: 16;
}

.buttonDropdown:focus-within::after {
    content: " - toque para fechar";
}
.buttonDropdown:hover {
    background-color: #c23636;
}

.ordenar {text-align: center; height: 30px}
.ordenar div {
    display: inline;
    padding-left: 5px;
    border-bottom: 1px solid black;
}
.ordenar button {
    transition: 0.2s;
    border: 0;    
    background-color: #DDDEEE;
    margin-inline: 5px;
    padding: 0;
}
.ordenar button:hover {
    transition: 0.2s;
    cursor: pointer;
    color: #ee0d0d;
    font-size: 20px;
}
