.main {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 50px;   
}

.main h4 { min-height: 60px; }

.card {    
    width: 300px;
    text-align: center;
    padding-inline: 10px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    background-image: linear-gradient(to bottom, #fff 40%, #DDDEEE 90%);
}

.card abbr { text-decoration: none; }
.card abbr p span { color: red; }
.img { margin: auto; }

/* Estilos do menu suspenso de Descrição */
.dropdown { display: none; }
.buttonDropdown {
    font-family: "Playfair Display", sans-serif;
    border: 0;
    background-color: #ce4343;
    color: white;
    padding: 3px 0px;
    font-size: 16;
}

.buttonDropdown:hover { background-color: #c23636; }

.ordenar { text-align: center; height: 30px; }
.ordenar div {
    display: inline;
    padding-left: 5px;
    border-bottom: 1px solid black;
}
.ordenar button {
    transition: 0.2s;
    border: 0;    
    background: none;
    margin-inline: 5px;
    padding: 0;
}
.ordenar button:hover {
    transition: 0.2s;
    cursor: pointer;
    color: #ee0d0d;
    font-size: 20px;
}

.favorite {
    text-align: end;
    margin: 0;
    padding-right: 10px;
    height: 25px;
}

.favorite span:hover {
    cursor: pointer;
    color: red;
}

/* Botão de pesquisar */

.menu2 {
    display: flex;
    align-items: center;
    padding-block: 20px;  
    background-color: #fff;
    border: 0;
    margin: auto;
    width: 300px;
    padding: 10px;
    padding-inline: 10px;
    padding-left: 15px;
    border-radius: 15px;
    color: #6D6D6D;
    margin-bottom: 20px;
    box-shadow: 3px 3px #ee0d0d;
}
.menu2 input {
    background-color: none;
    border: 0;
    text-align: center;
    color: #6D6D6D;
    width: 250px;
}

.menu2 input:focus {
    outline: none;
}
